// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin {
	margin-top:18px;
	text-align:center;
	}
	
.create_ID {
	margin-top:32px;
	text-align: center;
	}