// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	
.prompt {
	text-align: center;
	margin-bottom: 18px;
	}
	
#friend {
	display: inline;
	}
	
input {
	width: 100%;
	}